For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

Has the network latency gone up since we switched internet service providers?

Data SOurces:
- Pre imposed speed check platforms
- Surveys

$h_0$ - Network Latency has not changed since switching internet providers

$h_a$ - Network latency is significantly faster since switching provider


True Positive:
   - low p-value < alpha
   - reject $H_0$
   - average speed for new network is 93.98
   - average speed of all networks 80
   
False Positive:
   - small p-value
   - reject $H_0$
   - average speed for new network was taken during non-peak time and compared to averages of peak time usuage

True Negative:
   - higher p-value
   - fail to reject $H_0$
   - avg speed for new newtwork: 93.98
   - avg speed of all networks: 92
   
False Negative:
   - higher p-value
   - fail to reject $H_0$
   - avg speed of all networks was taken during peak time and being compared to an averagethat was take during non peak time

Is the website redesign any good?

Data Source
- heat map of clicks
- surveys

$H_0$ - Website redisgn has had no impact on click rate

$H_a$ - Website redisgn has had a drastic impact on click rates


True Positive:
   - concentrated rate of clicks on areas that are actionable
   
False Positive:
   - heat map of previous web design is from several redesigns ago as opposed to the most recent version
    
True Negative:
   - heat map of clicks is the same as before redesign
       
False Negative:
   - heat maps were taken during different times of day

Is our television ad driving more sales?
Data Source
- Surveys
- promo codes
- outside marketing firm

$H_0$ - Televison ads have no impact on consumer buying rates

$H_a$ - Television ads drastically drives consumer buying rates

True Positive:
   - sales of the product that has been advertised has seen a spike in sales

False Positive:
   - a natural disaster has just occured causing a surge on various poducts

True Negative:
   - sales of product that was being advertised on TV has not seen a spike in sales and has remained neutral

False Negative:
   - ad ran during non-peak times

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

$H_0$ - average time to sell homes is the same at both locations.

$H_a$ - average time to sell home is not the same at both locations

In [1]:
from math import sqrt

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

from scipy import stats


# x1 = df[df.study_strategy == 'flashcards'].exam_score
# x2 = df[df.study_strategy == 'Winged It'].exam_score

alpha = .05

xbar1 = 90
xbar2 = 100

n1 = 40
n2 = 50

s1 = 15
s2 = 20

degf = (n1 + n2) - 2 # n - number of categories

s_p = sqrt(
    ((n1 - 1) * s1**2 + (n2 - 1) * s2**2)
    /
    (n1 + n2 - 2)
)

t = (xbar1 - xbar2) / (s_p * sqrt(1 / n1 + 1 / n2))

In [2]:
s_p

17.956702977389302

In [3]:
t

-2.6252287036468456

In [4]:
p = stats.t(degf).sf(abs(t)) * 2

In [5]:
p

0.01020985244923939

In [6]:
print(f'''
Because p ({p:.6f}) < alpha ({alpha}), we reject the null hypothesis:
average time to sell homes is the same at both locations
''')

Because p (0.010210) < alpha (0.05), we reject the null hypothesis:
average time to sell homes is the same at both locations

Load the mpg dataset and use it to answer the following questions:

- Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
- Are compact cars more fuel-efficient than the average car?
- Do manual cars get better gas mileage than automatic cars?

$H_0$ - There is no difference in hwy fuel-efficiency for cars from 2008 nd 1999

$H_a$ - There is a difference in hwy fuel-efficiency for cars from 2008 nd 1999

In [7]:
from pydataset import data
alpha = .05

In [8]:
mpg = data("mpg")

In [9]:
mpg.sample(10)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
119,hyundai,tiburon,2.0,2008,4,auto(l4),f,20,27,r,subcompact
50,dodge,dakota pickup 4wd,3.7,2008,6,auto(l4),4,14,18,r,pickup
165,subaru,forester awd,2.5,2008,4,auto(l4),4,18,23,p,suv
114,hyundai,sonata,2.5,1999,6,manual(m5),f,18,26,r,midsize
26,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater
159,pontiac,grand prix,5.3,2008,8,auto(s4),f,16,25,p,midsize
110,hyundai,sonata,2.4,1999,4,manual(m5),f,18,27,r,midsize
77,ford,expedition 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv
153,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
228,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize

In [10]:
x1 = mpg[mpg.year == 2008].hwy

In [11]:
x2 = mpg[mpg.year == 1999].hwy

In [12]:
t_stat, p = stats.ttest_ind(x1, x2)

In [13]:
t_stat

0.03286431672888292

In [14]:
p

0.9738110448529322

In [15]:
print(f'''
Because p ({p:.4}) > alpha ({alpha}), we fail to reject the null hypothesis
''')

Because p (0.9738) > alpha (0.05), we fail to reject the null hypothesis

$H_0$ - There is no difference in hwy fuel efficency between compact cars and regular cars

$H_a$ - There is a difference in hwy fuel efficency between compact cars and regular cars

In [16]:
x1 = mpg[mpg["class"] == "compact"].hwy

In [17]:
x2 = mpg[mpg["class"] != "compact"].hwy

In [18]:
t_stat, p = stats.ttest_ind(x1, x2)

In [19]:
t_stat

6.844017913682101

In [20]:
p

6.802262127570768e-11

In [21]:
print(f'''
Because p ({p:.12f}) < alpha ({alpha}), we reject the null hypothesis
''')

Because p (0.000000000068) < alpha (0.05), we reject the null hypothesis

$H_0$ - Both manual cars and automatic cars get the same hwy gas mileage

$H_a$ - The hwy gas mileage is different for manual cars and automatic cars

In [22]:
alpha = 0.05

In [23]:
x1 = mpg[mpg["trans"].str.contains("manual")].hwy

In [24]:
x2 = mpg[mpg["trans"].str.contains("auto")].hwy

In [25]:
t_stat, p = stats.ttest_ind(x1, x2)

In [26]:
t_stat

4.368349972819688

In [27]:
p

1.888044765552951e-05

In [28]:
print(f'''
Because p ({p:.7f}) < alpha ({alpha}), we reject the null hypothesis
''')

Because p (0.0000189) < alpha (0.05), we reject the null hypothesis