Mage Duel!
Let's use what we've learned to play a mage duel!

Imagine your wizard has 6d4 health points and you have spells that do 6d4 damage. "6d4" means rolling six 4-sided dice and summing the result.

Your opposing mage has 4d6 health points and spells that do 4d6. "4d6" means rolling four six-sided dice and summing the result.

Exercises

Simulate mage duels to answer who is the more powerful mage?


1. Simulate 10 mage duels. Is there a clear winner? Run that 10 duel simulation again. Was the answer similar?
Do the results change much at 100 duels?
Now, simulate 10,000 mage duels. Is there a clear winner?

In [1]:
import numpy as np
import pandas as pd

In [2]:
def wizard_6d4_hp(num_duels):
    return (np.random.choice([1,2,3,4], size=(num_duels,6))).sum(axis=1)

In [3]:
def wizard_4d6_hp(num_duels):
    return (np.random.choice([1, 2, 3, 4, 5, 6], size=(num_duels,4))).sum(axis=1)

In [4]:
def wizard_6d4_damage(num_duels):
    return (np.random.choice([1,2,3,4], size=(num_duels,6))).sum(axis=1)

In [5]:
def wizard_4d6_damage(num_duels):
    return (np.random.choice([1, 2, 3, 4, 5, 6], size=(num_duels,4))).sum(axis=1)

In [6]:
def mage_duels_df(num_duels):
    return pd.DataFrame({"wizard_6d4_hp": wizard_6d4_hp(num_duels), "wizard_6d4_damage": wizard_6d4_damage(num_duels), "wizard_4d6_hp": wizard_4d6_hp(num_duels), "wizard_4d6_damage": wizard_4d6_damage(num_duels)})

In [11]:
 def game_outcomes_df(num_duels):
    df = mage_duels_df(num_duels)
    df["wizard_6d4_hp_after_attack"] = df.wizard_6d4_hp - df.wizard_4d6_damage
    df["wizard_4d6_hp_after_attack"] = df.wizard_4d6_hp - df.wizard_6d4_damage
    df["tie"] = df.wizard_6d4_hp_after_attack == df.wizard_4d6_hp_after_attack
    df["wizard_6d4_wins"] = df.wizard_6d4_hp_after_attack > df.wizard_4d6_hp_after_attack
    df["wizard_4d6_wins"] = df.wizard_4d6_hp_after_attack > df.wizard_6d4_hp_after_attack
    return df

In [31]:
first_10 = game_outcomes_df(10)

In [32]:
first_10

,wizard_6d4_hp,wizard_6d4_damage,wizard_4d6_hp,wizard_4d6_damage,wizard_6d4_hp_after_attack,wizard_4d6_hp_after_attack,tie,wizard_6d4_wins,wizard_4d6_wins
0,14,13,12,9,5,-1,False,True,False
1,15,14,15,14,1,1,True,False,False
2,13,13,12,15,-2,-1,False,False,True
3,15,15,11,12,3,-4,False,True,False
4,13,16,14,14,-1,-2,False,True,False
5,19,15,8,14,5,-7,False,True,False
6,19,13,10,11,8,-3,False,True,False
7,17,15,10,18,-1,-5,False,True,False
8,15,11,12,11,4,1,False,True,False
9,14,18,14,15,-1,-4,False,True,False

In [33]:
first_10.tie.mean()

0.1

In [34]:
first_10.wizard_6d4_wins.mean()

0.8

In [35]:
first_10.wizard_4d6_wins.mean()

0.1

In [36]:
second_10 = game_outcomes_df(10)

In [37]:
second_10

,wizard_6d4_hp,wizard_6d4_damage,wizard_4d6_hp,wizard_4d6_damage,wizard_6d4_hp_after_attack,wizard_4d6_hp_after_attack,tie,wizard_6d4_wins,wizard_4d6_wins
0,15,14,17,17,-2,3,False,False,True
1,14,19,13,13,1,-6,False,True,False
2,18,17,13,5,13,-4,False,True,False
3,17,15,20,14,3,5,False,False,True
4,17,12,14,14,3,2,False,True,False
5,17,17,17,15,2,0,False,True,False
6,19,13,15,12,7,2,False,True,False
7,17,11,12,9,8,1,False,True,False
8,12,13,13,12,0,0,True,False,False
9,16,13,19,7,9,6,False,True,False

In [38]:
second_10.tie.mean()

0.1

In [39]:
second_10.wizard_6d4_wins.mean()

0.7

In [40]:
second_10.wizard_4d6_wins.mean()

0.2

In [42]:
out_of_100 = game_outcomes_df(100)

In [43]:
out_of_100

,wizard_6d4_hp,wizard_6d4_damage,wizard_4d6_hp,wizard_4d6_damage,wizard_6d4_hp_after_attack,wizard_4d6_hp_after_attack,tie,wizard_6d4_wins,wizard_4d6_wins
0,16,13,17,13,3,4,False,False,True
1,18,13,14,18,0,1,False,False,True
2,14,15,11,15,-1,-4,False,True,False
3,13,18,12,12,1,-6,False,True,False
4,13,16,12,16,-3,-4,False,True,False
...,...,...,...,...,...,...,...,...,...
95,18,15,15,17,1,0,False,True,False
96,19,12,21,17,2,9,False,False,True
97,16,15,14,10,6,-1,False,True,False
98,13,19,20,14,-1,1,False,False,True
99,20,10,16,18,2,6,False,False,True

In [44]:
out_of_100.tie.mean()

0.04

In [45]:
out_of_100.wizard_6d4_wins.mean()

0.49

In [46]:
out_of_100.wizard_4d6_wins.mean()

0.47

In [47]:
out_of_10_000 = game_outcomes_df(10_000)

In [48]:
out_of_10_000.tie.mean()

0.057

In [49]:
out_of_10_000.wizard_6d4_wins.mean()

0.5921

In [50]:
out_of_10_000.wizard_4d6_wins.mean()

0.3509