1. How likely is it that you roll doubles when rolling two dice?

In [9]:
import numpy as np

import pandas as pd

In [8]:
dice_rolls = np.random.choice([1, 2, 3, 4, 5, 6], size=(10_000, 3))
dice_rolls

array([[2, 5, 5],
       [1, 4, 6],
       [3, 5, 6],
       ...,
       [2, 5, 1],
       [5, 1, 1],
       [2, 5, 1]])

2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [13]:
coin_flips = np.random.choice(['Heads', 'Tails'], size=(1000, 8))

In [12]:
coin_flips

array([['Heads', 'Tails', 'Tails', ..., 'Heads', 'Heads', 'Tails'],
       ['Tails', 'Heads', 'Heads', ..., 'Heads', 'Tails', 'Heads'],
       ['Tails', 'Heads', 'Tails', ..., 'Tails', 'Heads', 'Tails'],
       ...,
       ['Heads', 'Heads', 'Tails', ..., 'Tails', 'Heads', 'Tails'],
       ['Heads', 'Tails', 'Heads', ..., 'Tails', 'Heads', 'Tails'],
       ['Tails', 'Heads', 'Tails', ..., 'Tails', 'Heads', 'Tails']],
      dtype='<U5')

In [18]:
exactly_3_heads = ((coin_flips == "Heads").sum(axis = 1))==3

In [19]:
exactly_3_heads.mean()

0.247

In [21]:
more_than_3_heads = ((coin_flips == "Heads").sum(axis = 1)) > 3

In [23]:
more_than_3_heads.mean()

0.625

3. There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [27]:
billboard = np.random.choice(['web_dev', 'data_science'], p=[3/4, 1/4], size=(1000, 1))

In [30]:
(billboard == "data_science").mean()

0.243

4. Codeup students buy, on average, 3 poptart packages (+- 1.5) a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon?

In [45]:
pop_tarts_eaten = np.random.normal(3, 1.5, size=(1000, 5))

In [48]:
pop_tarts_eaten

array([[3.05681675, 3.06834887, 4.04489255, 0.99710402, 3.82194081],
       [4.77499556, 0.1209622 , 3.2739538 , 2.79255915, 2.98091786],
       [4.71247937, 3.4602564 , 2.04902423, 3.20571902, 1.41106286],
       ...,
       [2.91748311, 5.2851706 , 2.72488685, 3.53471844, 4.30723725],
       [1.40573132, 3.67871595, 1.76738149, 2.21663838, 6.18033433],
       [2.66318756, 2.10754087, 1.21436236, 2.35563987, 3.13427107]])

In [68]:
(pop_tarts_eaten.sum(axis=1) <=17).mean()

0.704

5. Compare Heights
   
   a. Men have an average height of 178 cm and standard deviation of 8cm.
   
   b. Women have a mean of 170, sd = 6cm.
   
   c. If a man and woman are chosen at random, P(woman taller than man)?

In [70]:
heights_compared = pd.DataFrame(np.random.normal(178, 8, size=(1000, 1)))

In [71]:
heights_compared["women"] = np.random.normal(170, 6, size=(1000, 1))

In [75]:
heights_compared = heights_compared.rename(columns={0: "men"})

In [76]:
heights_compared

            men       women
0    175.673309  174.082983
1    166.172682  164.425577
2    170.276126  166.110601
3    177.811602  178.325877
4    168.350296  160.298992
..          ...         ...
995  177.467786  173.224633
996  164.535474  175.686116
997  185.370103  167.677915
998  177.269239  176.331081
999  173.307248  159.209152

[1000 rows x 2 columns]