1. How likely is it that you roll doubles when rolling two dice?

In [1]:
import numpy as np

import pandas as pd

In [2]:
dice_rolls = pd.DataFrame(np.random.choice([1, 2, 3, 4, 5, 6], size=(10_000, 2)))
dice_rolls

      0  1
0     5  3
1     4  5
2     1  6
3     2  6
4     4  6
...  .. ..
9995  3  4
9996  3  5
9997  2  1
9998  5  4
9999  6  4

[10000 rows x 2 columns]

In [3]:
doubles = dice_rolls[0] == dice_rolls[1]

In [4]:
doubles.mean()

0.1687

2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [5]:
coin_flips = np.random.choice(['Heads', 'Tails'], size=(1000, 8))

In [6]:
coin_flips

array([['Heads', 'Tails', 'Heads', ..., 'Heads', 'Heads', 'Heads'],
       ['Heads', 'Tails', 'Tails', ..., 'Tails', 'Heads', 'Heads'],
       ['Heads', 'Tails', 'Heads', ..., 'Tails', 'Tails', 'Tails'],
       ...,
       ['Heads', 'Tails', 'Heads', ..., 'Heads', 'Tails', 'Heads'],
       ['Tails', 'Heads', 'Heads', ..., 'Tails', 'Heads', 'Heads'],
       ['Tails', 'Heads', 'Tails', ..., 'Heads', 'Heads', 'Heads']],
      dtype='<U5')

In [7]:
exactly_3_heads = ((coin_flips == "Heads").sum(axis = 1))==3

In [8]:
exactly_3_heads.mean()

0.221

In [9]:
more_than_3_heads = ((coin_flips == "Heads").sum(axis = 1)) > 3

In [10]:
more_than_3_heads.mean()

0.641

3. There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [11]:
billboard = np.random.choice(['web_dev', 'data_science'], p=[3/4, 1/4], size=(1000, 1))

In [12]:
(billboard == "data_science").mean()

0.265

4. Codeup students buy, on average, 3 poptart packages (+- 1.5) a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon?

In [13]:
pop_tarts_eaten = np.random.normal(3, 1.5, size=(1000, 5))

In [14]:
pop_tarts_eaten

array([[2.96352756, 2.3882676 , 1.53764164, 1.48689792, 2.33466063],
       [4.0738066 , 0.51928761, 1.89468486, 2.85336111, 3.24786269],
       [4.38402477, 4.47124876, 3.71514517, 4.26081354, 1.35139943],
       ...,
       [3.00906213, 1.91013241, 2.94990309, 3.07171914, 3.52746961],
       [4.43074371, 1.43348622, 3.72343702, 2.42712446, 5.49324431],
       [2.94334406, 3.17804986, 2.76823033, 2.96767321, 1.72728224]])

In [15]:
(pop_tarts_eaten.sum(axis=1) <=16).mean()

0.606

5. Compare Heights
   
   a. Men have an average height of 178 cm and standard deviation of 8cm.
   
   b. Women have a mean of 170, sd = 6cm.
   
   c. If a man and woman are chosen at random, P(woman taller than man)?

In [16]:
m_heights = np.random.normal(178, 8, size=(1000, 1))

In [17]:
w_heights = np.random.normal(170, 6, size=(1000, 1))

In [18]:
(m_heights < w_heights).mean()

0.227

6. When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

    a. What is the probability that we observe an installation issue within the first 150 students that download anaconda?
    
    b. How likely is it that 450 students all download anaconda without an issue?

In [19]:
installed_50_times = np.random.choice(["Fails", "Installs"], p=[1/250, 249/250], size=(10_000,50))

In [20]:
(((installed_50_times == "Installs").sum(axis=1)) == 50).mean()

0.8173

In [21]:
installed_100_times = np.random.choice(["Fails", "Installs"], p=[1/250, 249/250], size=(10_000,100))

In [22]:
(((installed_100_times == "Installs").sum(axis=1)) == 100).mean()

0.6695

In [23]:
installed_150_times = np.random.choice(["Fails", "Installs"], p=[1/250, 249/250], size=(10_000,150))

In [24]:
(installed_150_times == "Fails").mean()

0.003999333333333333

In [25]:
installed_450_times = np.random.choice(["Fails", "Installs"], p=[1/250, 249/250], size=(10_000,450))

In [26]:
(installed_450_times == "Installs").mean()

0.9959753333333333

7. There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. 

    a. How unlikely is this?

    b. How likely is it that a food truck will show up sometime this week?

In [27]:
food_trucks = pd.DataFrame(np.random.choice([0, 1], p=[.3, .7], size=(10_000, 3)))

In [28]:
#food_trucks = food_trucks.rename(columns={0: 'Day_1', 1: 'Day_2', 2: 'Day_3', 3:'Day_4', 4: 'Day_5', 5: 'Day_6', 6: 'Day_7'})

In [29]:
food_trucks

      0  1  2
0     1  1  1
1     1  0  1
2     1  1  0
3     1  0  1
4     1  1  0
...  .. .. ..
9995  1  1  1
9996  1  1  1
9997  1  0  1
9998  1  0  1
9999  1  0  1

[10000 rows x 3 columns]

In [30]:
food_trucks = food_trucks.rename(columns={0: 'Day_1', 1: 'Day_2', 2: 'Day_3'})

In [31]:
food_trucks

      Day_1  Day_2  Day_3
0         1      1      1
1         1      0      1
2         1      1      0
3         1      0      1
4         1      1      0
...     ...    ...    ...
9995      1      1      1
9996      1      1      1
9997      1      0      1
9998      1      0      1
9999      1      0      1

[10000 rows x 3 columns]

In [32]:
food_trucks["totals"] = food_trucks.sum(axis=1)

In [33]:
(food_trucks.totals == 0).mean()

0.0272

In [34]:
food_trucks_7_days = pd.DataFrame(np.random.choice([0, 1], p=[.3, .7], size=(10_000, 7)))

In [35]:
food_trucks_7_days = food_trucks_7_days.rename(columns={0: 'Day_1', 1: 'Day_2', 2: 'Day_3', 3:'Day_4', 4: 'Day_5', 5: 'Day_6', 6: 'Day_7'})

In [36]:
food_trucks_7_days["totals"] = food_trucks_7_days.sum(axis=1)

In [37]:
food_trucks_7_days

      Day_1  Day_2  Day_3  Day_4  Day_5  Day_6  Day_7  totals
0         0      1      1      0      0      1      1       4
1         1      1      1      1      1      1      0       6
2         0      1      0      1      1      1      1       5
3         0      1      0      0      1      1      1       4
4         1      1      1      0      0      0      1       4
...     ...    ...    ...    ...    ...    ...    ...     ...
9995      1      1      1      1      1      1      0       6
9996      0      0      1      1      1      0      1       4
9997      0      1      0      1      1      1      1       5
9998      0      0      0      0      1      1      1       3
9999      1      0      1      1      1      1      1       6

[10000 rows x 8 columns]

In [38]:
(food_trucks_7_days.totals >=1).mean()

0.9998

8. If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [39]:
birthdays_23 = pd.DataFrame(np.random.uniform(1, 366, size=(10_001, 23)).round())

In [40]:
def birthday_matches(one_birtday):
    return one_birtday.duplicated().any()

In [41]:
birthdays_23.apply(birthday_matches, axis=1).mean()

0.5032496750324967

In [42]:
birthdays_40 = pd.DataFrame(np.random.uniform(1, 366, size=(10_001, 23)).round())

In [43]:
birthdays_40.apply(birthday_matches, axis=1).mean()

0.5001499850014999

In [44]:
birthdays_20 = pd.DataFrame(np.random.uniform(1, 366, size=(10_001, 23)).round())

In [45]:
birthdays_20.apply(birthday_matches, axis=1).mean()

0.5058494150584941